<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;&nbsp; 
	  Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
	  <p id="footer-top" class="right">
	  <a href="#top">↑↑返回顶部↑↑</a>
	  </p></br>
      QAQ被<strong id="counterValue"></strong>个怪叔叔偷窥了
    </div>
  </div>
</footer>