  <div class="widget-wrap">
    <h3 class="widget-title">关于我</h3>
    <div class="aboutme">
	<img src="/css/images/myhead.jpg">
	<p>这里是青莲的大头像</p>
	<p>css属性在sidebar-aside.styl文件中修改</p>
    </div>
  </div>
