  <div class="widget-wrap">
    <h3 class="widget-title">关于我</h3>
    <div class="aboutme">
	<img src="/css/images/myhead.jpg">
	<p>这里是青莲的大头像</p>
	  <a href="http://qlings.xyz" id="ico-qling" class="aboutme-icon" title="青莲居" target="_blank"></a>	  
	  <a href="https://google.com/+青莲s" id="ico-google" class="aboutme-icon" title="姬家" target="_blank"></a>
	  <a href="https://github.com/qlings" id="ico-github" class="aboutme-icon" title="GitHub" target="_blank"></a>
	  </br>
	  </br>
    </div>
  </div>
